<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <link href="/css/style.css" rel="stylesheet">
    
    <title>{{ title }}</title>
</head>
    <body>
    {{> Menu}}
      <div id="body">
        {{{body}}}
      </div>
    {{> Notifications}}
    </body>
</html>
