.notifications .success {
    padding: 5px;
    border: 1px solid #090;
    color: #090;
    background-color: #9fc;
}

.notifications .error {
    padding: 5px;
    border: 1px solid #900;
    color: #900;
    background-color: #fc9;
}

#menu li {
    display:inline;
}

#menu {
    padding: 5px;
    border: 1px solid black;
    color: black;
    background-color: lightgray;
}

#body {
    padding: 5px;
    border: 1px solid black;
    color: black;
    background-color: lightgray;
    margin-bottom: 5px;
}



