<script src="/js/webstorage.js"></script>
<p>Welcome to the {{ title }} page...</p>
<input id="input"><button onClick="saveLocalStorage()">Save LocalStorage</button>
<p id="output">No LocalStorage set...</p>
<script type="text/javascript">
    loadLocalStorage();
</script>