<script src="/js/webstorage.js"></script>
<p>Welcome to the {{ title }} page...</p>
<input id="input"><button onClick="saveSessionStorage()">Save SessionStorage</button>
<p id="output">No SessionStorage set...</p>
<script type="text/javascript">
    loadSessionStorage();
</script>