<form method="post" action="/authors/edit">
    <input name="id" type="hidden" value="{{ author._id }}" />
    <label>Name</label> <input name="name" type="text" value="{{ author.name }}" />
    <input type="submit" value="Submit" />
</form>
